html {
    height: 100vh;
    width: 100vw;
}
body {
    font-family: "Helvetica Neue";
    color: #2a2a2a;
    background-color: #f0f0ff;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
}

.btn:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position: -0.5em;
    border-color: rgba(27,31,35,0.35);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
}

.btn:active {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}

.btn-danger {
    color: #cb2431;
    background-color: #fafbfc;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%)
}

.btn-danger:focus {
    box-shadow: 0 0 0 0.2em rgba(203,36,49,0.4)
}

.btn-danger:hover {
    color: #fff;
    background-color: #cb2431;
    background-image: linear-gradient(-180deg,#de4450,#cb2431 90%);
    border-color: rgba(27,31,35,0.5)
}

.btn-danger:active {
    color: #fff;
    background-color: #b5202c;
    background-image: none;
    border-color: rgba(27,31,35,0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
}

.btn-primary {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%)
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2em rgba(52,208,88,0.4)
}

.btn-primary:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    background-position: -0.5em;
    border-color: rgba(27,31,35,0.5)
}

.btn-primary:active {
    background-color: #279f43;
    background-image: none;
    border-color: rgba(27,31,35,0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
}

.btn-blue {
    color: #fff;
    background-color: #0361cc;
    background-image: linear-gradient(-180deg,#0679fc,#0361cc 90%)
}

.btn-blue:focus {
    box-shadow: 0 0 0 0.2em rgba(6,121,252,0.4)
}

.btn-blue:hover {
    background-color: #035cc2;
    background-image: linear-gradient(-180deg,#0374f4,#035cc2 90%);
    background-position: -0.5em;
    border-color: rgba(27,31,35,0.5)
}

.btn-blue:active {
    background-color: #045cc1;
    background-image: none;
    border-color: rgba(27,31,35,0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15)
}

#main-page {
    text-align: center;
}

#detail-page {
    text-align: center;
}

#detail-page div {
    margin: 20px;
}

#detail-page button {
    margin-top: 40px;
}

#device-list {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
    height: 400px;
    overflow-y: scroll;
}

#device-list li {
    display: flex;
		justify-content: space-between;
		align-items: center;
    padding: 16px;
    border-top: 1px solid #ccc;
}

#device-list li:first-child {
    border-top: 0;
}

.state {
	font-size: 60px;
	font-weight: bold;
}